.addButton {
  position: fixed;
  width: 75px;
  height: 75px;
  background: #fff;
  cursor: pointer;
  border: 2px solid coral;
  border-radius: 50%;
  bottom: 2%;
  right: 2%;
}

.modal > .close {
  cursor: pointer;
  position: absolute;
  top: -30px;
  padding: 1px 10px;
  vertical-align: middle;
  text-align: center;
  font-size: xx-large;
  background: #ffffff;
  border-radius: 50%;
}
