.card {
  background-color: white;
  box-shadow: 1px 1px 1px #888888;
  padding: 15px;
  border-radius: 5px;
  align-content: center;
  cursor: pointer;
  position: relative;
  flex-direction: row;
}

.cardInfo {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
}
.card:hover {
  box-shadow: 5px 5px 5px #888888;
}
.maintenanceToggle {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card.Maintenance {
  background-color: rgb(255, 152, 67);
}

.card.issue {
  color: white;
  background-color: red;
}

.name {
  display: flex;
  flex-direction: column;
}
.menu-item {
  cursor: pointer;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  height: 28px;
  border-bottom: 1px solid rgb(187, 187, 187);
}

.popupConf {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 5%;
  border-radius: 15px;
  text-align: center;
  width: max-content;
}

.bottomRectangle {
  font-size: 12px;
  text-align: center;
}
