.navbar {
  position: fixed;
  top: 0;
  width: 100vw;
  color: gray;
  z-index: 1100;
}

.navbar img {
  margin-right: 2vw;
}

.navbar p {
  cursor: pointer;
}

.navbarOptions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-wrap: break-word;
  justify-content: space-between;
}

.menuBurger {
  position: fixed;
  right: 2vw;
}

.menu {
  overflow: hidden;
  padding: 15px;
  background: #333;
  color: gray;
  z-index: 1001;
}
.menu :hover {
  color: white;
}

.language-options {
  display: flex;
}

.language-options span {
  cursor: pointer;
  margin-right: 10px;
}
