.navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  color: gray;
  display: flex;
  flex-wrap: wrap;
  overflow-wrap: break-word;
  z-index: 1100;
}
.navbar :hover {
  color: white;
}

.navbar p {
  cursor: pointer;
}

.bm-cross {
  background: gray;
}

.menu {
  overflow: hidden;
  padding: 15px;
  background: #333;
  color: gray;
  z-index: 1001;
}
.menu :hover {
  color: white;
}

.language-options {
  display: flex;
}

.language-options span {
  cursor: pointer;
  margin-right: 10px;
}
