.navbar {
  z-index: 1100;
}

.navbar .MuiDrawer-paper {
  color: rgb(209, 211, 223);
  background-color: rgb(92, 93, 111);
}

.navbarclosed .MuiDrawer-paper {
  width: 25px !important;
}

.navbar img {
  margin-top: 35px;
  margin-bottom: 90px;
  width: 200px;
  border-radius: 2px;
}

.navbarOptions p {
  cursor: pointer;
}

.navbarOptions {
  display: flex;
  flex-wrap: wrap;
  overflow-wrap: break-word;
  justify-content: space-between;
  flex-direction: column;
  height: 45vh;
  align-content: center;
}

.menuBurger {
  position: fixed;
  bottom: 10px;
}

.menu {
  overflow: hidden;
  padding: 15px;
  background: #333;
  color: gray;
  z-index: 1001;
}
.menu :hover {
  color: white;
}

.language-options {
  display: flex;
}

.language-options span {
  cursor: pointer;
  margin-right: 10px;
}
