.saveButton {
  position: fixed;
  width: 75px;
  height: 75px;
  background: #ffdada;
  cursor: pointer;
  border: 2px solid red;
  border-radius: 15%;
  top: 5%;
  right: 2%;
  z-index: 2000;
  box-shadow: none;
}
@media (max-width: 500px) {
  .saveButton {
    bottom: 2%;
  }
}

.notif {
  position: fixed;
  background-color: #fff;
  left: 50%;
  padding: 2px;
  transform: translateX(-50%);
  border-radius: 5px;
  justify-items: center;
  text-align: left;
  top: 65px;
  align-content: center;
  z-index: 5000;
}

.notif.red {
  background-color: rgb(255, 192, 192);
}
.notif.hidden {
  visibility: hidden;
}
