@media (max-width: 500px) {
  .box th {
    font-size: smaller;
  }
  select {
    width: 5vh;
  }
}

.appDesc {
  margin: 2%;
  background-color: rgb(215, 239, 247);
  border: 2px solid #acacac;
  padding: 5%;
  border-radius: 15px;
  align-content: center;
  flex-wrap: wrap;
}

.box tr {
  text-align: left;
  flex-wrap: wrap;
  border: 1px solid #acacac;
}
tr:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.8);
}
tr:nth-child(even) {
  background-color: rgb(249, 249, 249, 0.8);
}

.box td {
  padding-right: 2%;
  flex-wrap: wrap;
}

.authLevel {
  width: 50%;
  flex-wrap: wrap;
}

.plus {
  padding: 0px 4px;
  color: rgb(6, 190, 0);
  font-size: xx-large;
  background-color: transparent;
  border: 1px solid rgb(6, 190, 0);
  border-radius: 5px;
}

.minus {
  padding: 0px 10px;
  color: red;
  font-size: xx-large;
  background-color: transparent;
  border: 1px solid red;
  border-radius: 5px;
}

.appDesc table {
  margin-top: 2%;
  border: 1px solid #acacac;
  width: 100%;
  max-width: 100%;
  flex-wrap: wrap;
  border-collapse: collapse;
  box-shadow: 5% #acacac;
}

.box .form {
  width: 100%;
}

textarea {
  height: 200px;
  width: 100%;
}

.optionNavbar {
  display: flex;
  justify-content: space-between;
  background-color: rgb(37, 63, 63);
  padding: 2%;
  border-radius: 15px;
  color: #acacac;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  overflow-wrap: break-word;
}
.optionNavbar :hover {
  color: #ffffff;
}
.option.selected {
  color: #ffffff;
}

.scopes {
  display: flex;
  justify-content: space-between;
}
