.appDesc {
  display: grid;
  justify-content: center;
  margin: 2%;
  grid-gap: 1%;
  grid-auto-flow: row;
}

@media (max-width: 500px) {
  .box th {
    font-size: smaller;
  }
}

@media (min-width: 981px) {
  .appDesc {
    grid-template-columns: 45% 45%;
  }
}

.box {
  background-color: rgb(215, 239, 247);
  border: 2px solid #acacac;
  padding: 5%;
  border-radius: 15px;
  align-content: center;
}

.box tr {
  text-align: left;
}

.box td {
  padding-right: 2%;
}

.authLevel {
  width: 50%;
}

.plus {
  padding: 0px 4px;
  color: rgb(6, 190, 0);
  font-size: xx-large;
  background-color: transparent;
  border: 1px solid rgb(6, 190, 0);
  border-radius: 5px;
}

.minus {
  padding: 0px 10px;
  color: red;
  font-size: xx-large;
  background-color: transparent;
  border: 1px solid red;
  border-radius: 5px;
}

table {
  width: 100%;
  max-width: 100%;
}

.box .form {
  width: 100%;
}
