.App {
  text-align: center;
}
.main {
  margin-left: 250px;
}

.breadcrumbs {
  padding-top: 1vw;
  padding-left: 2vw;
}

@media (max-width: 500px) {
  .main {
    margin-top: 100px;
  }
}

.toggleButton {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 28px;
  background-color: #aaa;
  border: 1px solid black;
  border-radius: 90px;
  cursor: pointer;
}
